* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}
.body-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
}
.body-sub{
    border: 0px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 500px;
    margin-left: 100px;
    padding-top: 0px;
    background-color: rgb(227, 203, 126);
}
.title h2{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

    font-family: sans-serif;
    color: rgb(43, 184, 159);
}
img{
    height: 45px;
}
.inputs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.input{
    border-color: cornsilk;
    border-radius: 4px;
}
.inputs .cal{
    margin-left: 20px;
}
.buttons{
    border-radius:5px;
    border-color: rgb(245, 242, 232);
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #187bde;
}
.buttons:hover {
    background-color: #187bde;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s ease;
}

.bt-input,
.remainder {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.show {
    visibility: visible;
    height: auto;
}

.bt-input .buttons{
    margin: 10px;
}

.remainder .input{
    width: 90px;
    margin-right: 10px;
}
.remainder .reset{
    margin-left: 10px;
}

.remainder-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.remainder-area h4{
    color: #187bde;
}
.box {
    width: 60px;
    height: 180px;
    border-radius: 6px;
    background: #e0ecf9;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: none;
    position: relative;
    overflow: hidden;
}
.s{
    width: 100%;
    height: 0%;
    background-color:  #187bde;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

@media (max-width: 600px) {
    .body-main {
        grid-template-columns: 1fr; 
        margin-top: 50px;
    }

    .body-sub {
        width: 80%;   
        margin: 20px auto; 
    }

    .remainder-area {
        margin-left: 0;
        text-align: center;
    }
    .box{
        margin: 0 auto;
    }
}
